* {
    font-family: 'Roboto';
}

html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

/*Top Section*/
.top-section {
    margin: 0;
    width: 100%;
    height: 400px;
    background-image: url("/images/record-background-red.jpg");
    background-size: cover;
    font-family: Roboto;
    color: white;
}

/*Sign In*/

.sign-in {
    max-width: 50%;
    height: 200px;
    margin: -24px auto;
    text-align: center;
    background-color: #F1EFF2;
    color: #554C5A;
    font-family: 'Roboto';
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 11px 0px rgba(31,31,31,0.38);
    -moz-box-shadow: 5px 5px 11px 0px rgba(31,31,31,0.38);
    box-shadow: 5px 5px 11px 0px rgba(31,31,31,0.38);
}

.sign-in-text {
    margin: 10px auto 0 auto;
    padding: 1px 0 0 0;
    line-height: 3%;
    vertical-align: middle;
}

.text-first {
    margin-bottom: 38px;
}

.sign-in-btn {
    margin: 10px auto;
}

/*Header*/
.header {
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.greeting {
    display: none;
    float: left;
    position: absolute;
    top: 15px;
    left: 15px;
    font-family: Roboto;
    font-size: 1.2em;
}
/*Controls*/

.controls {
    display: none;
    width: 100%;
}

.control-form {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 115px;
}

.form-text {
    display: inline-block;
}

.track-name[type="text"] {
    display: inline-block;
    width: 33%;
    padding-left: 5px;
}

.glyphicon {
    font-size: 3em;
}



/*Record Button*/

.record-section {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    text-align: center;
    background-color: transparent;
    position: relative;
    top: -125px;
}

.record-section-rel {
    width: 100%;
    height: 100%;
    border-radius: 95%;
    position: relative;
}

.record-btn-1 {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #D6CFCA;
    border-radius: 100%;
    float: right;
}

.record-btn-2 {
    margin: 11px auto;
    vertical-align: middle;
    width: 90%;
    height: 90%;
    background-color: #F1EFF2;
    border: 10px solid #A38F86;
    border-radius: 100%;
}

.record-btn-3 {
    margin: 50px auto;
    width: 50%;
    height: 50%;
    background-color: #D6CFCA;
    border-radius: 100%;
    overflow: hidden;
}

.record-btn-4 {
    margin: 20px auto;
    vertical-align: middle;
    padding: 0;
    width: 60%;
    height: 60%;
    background-color: #EB6772;
    border-radius: 100%;
}

.upload-btn {
    display: none;
    position: relative;
    margin: 20px auto;
    vertical-align: middle;
    padding: 0;
    color: #EB6772;
    font-size: 4.25em;
}

.play-btn {
    position: relative;
    top: -200px;
    left: -175px;
}

.delete-btn {
    position: relative;
    top: -242px;
    left: 175px;
}

/*Widget Section*/

.widget-section {
    margin: -250px auto;
    width: 100%;
    height: 700px;
    background-color: #F1EFF2
}

/*colors: beige:#D6CFCA red:#BE6772 light:#F1EFF2 darkbrown:#554C5A brown:#A38F86 rec-red:#EB6772 */