* {
    font-family: 'Roboto';
}

html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
    position: fixed;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/*Top Section*/
.top-section {
    margin: 0;
    width: 100%;
    height: 400px;
    background-image: url("../images/bg-stripe.png");
    background-repeat: repeat;
    background-color: rgba(195,19,29,0.65);
    background-blend-mode: overlay;
    font-family: Roboto;
    color: white;
}

/*Sign In*/

.sign-in {
    max-width: 50%;
    height: 200px;
    margin: -24px auto;
    text-align: center;
    background-color: #F1EFF2;
    color: #554C5A;
    font-family: 'Roboto';
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 11px 0px rgba(31,31,31,0.38);
    -moz-box-shadow: 5px 5px 11px 0px rgba(31,31,31,0.38);
    box-shadow: 5px 5px 11px 0px rgba(31,31,31,0.38);
}

.sign-in-text {
    margin: 10px auto 0 auto;
    padding: 1px 0 0 0;
    line-height: 3%;
    vertical-align: middle;
}

.text-first {
    margin-bottom: 38px;
}

.sign-in-btn {
    margin: 10px auto;
}

/*Header*/
.header {
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.greeting {
    display: none;
    float: left;
    position: absolute;
    top: 15px;
    left: 15px;
    font-family: Roboto;
    font-size: 1.5em;
    color: black;
    opacity: 0.5;
}

.help {
    display: block;
    position: relative;
    top: 10px;
    left: calc(100% - 60px);
    width: 75px;
    height: 75px;
    opacity: 0.5;
}

.help:hover {
    cursor: pointer;
    opacity: 1;
}

.fa-question {
    font-size: 4em;
    color: black;
}

/*Controls*/

.controls {
    display: none;
    width: 100%;
}

.instructions {
    width: 70%;
    text-align: center;
    margin: 0 auto; 
}

.soundcloud-is-slow {
    display: none;
    margin: 0 auto;
    font-style: italic;
}

.control-form {
    margin: -75px auto;
    text-align: center;
    position: relative;
    top: 115px;
}

.form-text {
    display: inline-block;
}

.track-name {
    color: black;
    padding: 0;
}

.track-name[type="text"] {
    width: 33%;
}

/*Record Button*/

.record-section {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    text-align: center;
    background-color: transparent;
    position: relative;
    top: -125px;
    overflow: hidden;
}

.record-section-rel {
    width: 100%;
    height: 100%;
    border-radius: 95%;
    position: relative;
}

.record-btn-1 {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #D6CFCA;
    border-radius: 100%;
    float: right;
}

.record-btn-2 {
    margin: 11px auto;
    vertical-align: middle;
    width: 90%;
    height: 90%;
    background-color: #F1EFF2;
    border: 10px solid #A38F86;
    border-radius: 100%;
}

.record-btn-3 {
    margin: 50px auto;
    width: 50%;
    height: 50%;
    background-color: #D6CFCA;
    border-radius: 100%;
    overflow: hidden;
}

/* Buttons and States*/
.record-btn-main {
    margin: 20px auto;
    vertical-align: middle;
    padding: 0;
    width: 60%;
    height: 60%;
    background-color: darkgrey;
    border-radius: 100%;
/*    pointer-events: none;*/
}

.record-btn-active {
    background-color: #EB6772;
}

.stop-btn {
    margin: 20px auto;
    vertical-align: middle;
    padding: 0;
    width: 60%;
    height: 60%;
    background-color: #EB6772;
    border-radius: 0;
}


.upload-btn {
    display: none;
    position: relative;
    margin: 10px auto;
    vertical-align: middle;
    padding: 0;
    color: #EB6772;
    font-size: 4.5em;
}

.spinner {
    display: none;
    position: relative;
    margin: 10px auto;
    vertical-align: middle;
    padding: 0;
    color: #EB6772;
    font-size: 4.5em;
}

.complete {
    display: none;
    position: relative;
    margin: 9.75px auto;
    vertical-align: middle;
    padding: 0;
    color: #EB6772;
    font-size: 4.5em;
}

.failed {
    display: none;
    position: relative;
    margin: 9.75px auto;
    vertical-align: middle;
    padding: 0;
    color: #EB6772;
    font-size: 4.5em;
}

/*Widget Section*/

.widget-section {
    margin: -250px auto;
    width: 100%;
    height: 500px;
    background-color: #F1EFF2;
    overflow: hidden;
    border: 10px solid #A38F86;
}

.widget {
    margin: 175px auto;
    width: 500px
}

/*colors: beige:#D6CFCA red:#BE6772 light:#F1EFF2 darkbrown:#554C5A brown:#A38F86 rec-red:#EB6772 hover-rec-red:#F25B6E */