html, body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

}

/*Top Section*/
.top-section {
    margin: 0;
    width: 100%;
    height: 400px;
    background-image: url("/images/record-background-red.jpg");
    background-size: cover;
}

/*Record Button*/

.record-section {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    text-align: center;
    background-color: transparent;
    position: relative;
    top: -125px;
}

.record-section-rel {
    width: 100%;
    height: 100%;
    border: 2px solid #7F8C8D;
    border-radius: 95%;
    position: relative;
}

.record-btn-1 {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #D6CFCA;
    border-radius: 100%;
    float: right;
}

.record-btn-2 {
    margin: 11px auto;
    vertical-align: middle;
    width: 90%;
    height: 90%;
    background-color: #F1EFF2;
    border: 10px solid #A38F86;
    border-radius: 100%;
}

.record-btn-3 {
    margin: 50px auto;
    width: 50%;
    height: 50%;
    background-color: #D6CFCA;
    border-radius: 100%;
    overflow: hidden;
}

.record-btn-4 {
    margin: 20px auto;
    vertical-align: middle;
    padding: 0;
    width: 60%;
    height: 60%;
    background-color: #EB6772;
    border-radius: 100%;
}

/*Widget Section*/

.widget-section {
    margin: -250px auto;
    width: 100%;
    height: 700px;
    background-color: #F1EFF2
}

/*colors: beige:#D6CFCA red:#BE6772 light:#F1EFF2 darkbrown:#554C5A brown:#A38F86 rec-red:#EB6772 */